body{
    background-image: url(../images/background.jpeg);
}
nav{
    text-align: center;
    font-size: 2rem;
    background-color:  rgba(225, 225, 225, .3);
}


img{
    width: 200px;
}

h2{
    font-size: 1.25rem;
}